html, form {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #100c22;
    color: hsl(240, 43%, 88%);
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    text-align: center;
}
form {
    background-color: #37334a;
    padding: 25px;
    border-radius: 20px;
    box-shadow: #00FFD5 0px 0px 20px, #002BFF 0px 0px 40px, #FF00C8 0px 0px 60px;
    animation: formGlow 10s ease infinite;
    border-radius: 20px;
}

@keyframes formGlow {
    0% {
        box-shadow: #00FFD5 0px 0px 10px, #002BFF 0px 0px 30px, #FF00C8 0px 0px 60px;
    }
    50% {
        box-shadow: #ff0000 0px 0px 10px, #ff7300 0px 0px 30px, #fffb00 0px 0px 60px;
    }
    100% {
        box-shadow: #00FFD5 0px 0px 10px, #002BFF 0px 0px 30px, #FF00C8 0px 0px 60px;
    }
}
input {
    padding: 50px;
    border-radius: 10px;
    border: none;
    outline-style: solid;
    outline-color: hsl(250, 62%, 81%);
    outline-width: 2px;
    height: 50px;
    width: 300px;
}

button {
    background-color: #fffdfd;    
}
.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
}

/* button */
.btn {;
    padding: 14px 14px;
    border: none;
    outline: black;
    color: white;
    cursor: pointer;
    position: relative;
    z-index: 1;
    border-radius: 12px;
}
.btn::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #aaa9a9fa;
    border-radius: 10px;
    z-index: -1;
    filter: blur(10px);
}
.btn::before {
    content: "";
    position: absolute;
    left: -2px;
    top: -2px;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        45deg,
        #FF0000, #FF7300, #FFFB00, #48FF00,
        #00FFD5, #002BFF, #FF00C8, #FF0000
    );
    background-size: 600%;
    border-radius: 10px;
    z-index: -1;
    filter: blur(8px);
    transition: opacity .3s ease ease-in-out;
    border-radius: 10px;
    opacity: 0;
    animation: glowing 20s linear infinite;
}
@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}
.btn:hover::before {
    opacity: 1;
}
.btn:active::after {
    background: transparent;
}
.btn:active {
    color: #000;
    font-weight: bold;
}

