body {
    justify-items: center;
    height: 100vh;
    align-content: center;
    background: rgb(216, 249, 249);

}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #e3e1ec;;

}


